<!-- index.html-->
{% extends "base.html" %}
{% block title %}Account settings{% endblock %}
{% block body %}
<div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">
    <h2>Edit Profile</h2>
	{% with alerts = get_flashed_messages() %}
        {% if alerts %}
            {% for alert in alerts %}
                {% if "Success" in alert %}
                    <div class="alert alert-success">
                      {{ alert }}
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                      {{ alert }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% if current_user.email_confirmed == 0 %}
        <div class="alert alert-warning">
            <strong>Please</strong>, confirm your email!
        </div>
    {% endif %}

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>
                    <div class = "upperleft" style = "white-space: nowrap; width: 1%;"><i class="icon-user"></i>  Username</div>
                    <div class="upperleft"><a href="#" data-toggle="modal" data-target="#ChangeUsername" style="white-space: nowrap; width: 1%; color: #54C571;">edit</a></div>
                </th>
                <td style = "white-space: nowrap; width: 1%;">{{ current_user.name }}</td>
            </tr>
            <tr>
                <th>
                    <div class = "upperleft" style = "white-space: nowrap; width: 1%;"><i class="icon-envelop"></i>  Email</div>
                    <div class="upperleft"><a href="#" data-toggle="modal" data-target="#ChangeEmail" style="color: #54C571;">change mail</a></div>
                </th>
                <td>{{ current_user.email }}</td>
            </tr>
            <tr>
                <th><i class="icon-pencil2"></i>  Account type</th>
                <td>{{ current_user.type }}</td>
            </tr>
            <tr>
                <th>
                    <div class = "upperleft" style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><i class="icon-coin-dollar"></i>  Current balance, USD</div>
                    <div class="upperleft"><a href="#" style="white-space: nowrap; width: 1%; color: #54C571;">deposit</a></div>
                </th>
                <td>{{ current_user.current_balance }}</td>
            </tr>
        </tbody>
    </table>

    <div align="left">
        <button type="button" class="btn btn-style" data-toggle="modal" data-target="#ChangePassword">Change password</button>
    </div>

    <!-- Modal window of edit username-->
    <div id="ChangeUsername" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit username</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form align = "left" method="POST" action="/settings">
                  {{ change_username_form.hidden_tag() }}
                  {{ wtf.form_field(change_username_form.name, value=current_user.name) }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-style">Apply</button>
                  </div>
              </form>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal window of changing email-->
    <div id="ChangeEmail" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change email</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form align = "left" method="POST" action="/settings">
                  {{ change_email_form.hidden_tag() }}
                  {{ wtf.form_field(change_email_form.current_password) }}
                  {{ wtf.form_field(change_email_form.new_email) }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-style">Apply</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal window of changing password-->
    <div id="ChangePassword" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form align = "left" method="POST" action="/settings">
                  {{ change_password_form.hidden_tag() }}
                  {{ wtf.form_field(change_password_form.current_password) }}
                  {{ wtf.form_field(change_password_form.new_password) }}
                  {{ wtf.form_field(change_password_form.new_password_confirm) }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-style">Apply</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}
