<!-- marketplace.html-->
{% extends "base.html" %}
{% block title %}Marketplace{% endblock %}
{% block body %}
    <!-- Main part -->
    <!-- Page Content -->
    <div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">
    {% with alerts = get_flashed_messages() %}
        {% if alerts %}
            {% for alert in alerts %}
                {% if "Great" in alert %}
                    <div class="alert alert-success">
                      {{ alert }}
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                      {{ alert }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

      <h2>Marketplace</h2>
      <p>Here you can find a database of channels</p>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Channel name</th>
            <th>Category</th>
            <th>Subscribers</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for row in channels %}
              <tr>
                <td style = "white-space: nowrap; width: 1%;">{{ row.name }}</td>
                <td style = "white-space: nowrap; width: 1%;">{{ row.category }} </td>
                <td style = "white-space: nowrap; width: 1%;">{{ row.subscribers }}</td>
                <td style = "white-space: nowrap; width: 1%;">{{ row.price }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}