<!-- marketplace.html-->
{% extends "base.html" %}
{% block title %}Marketplace{% endblock %}
{% block body %}
    <!-- Main part -->
    <!-- Page Content -->
    <div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">

    {% with alerts = get_flashed_messages() %}
        {% if alerts %}
            {% for alert in alerts %}
                {% if "Great" in alert %}
                    <div class="alert alert-success">
                      {{ alert }}
                    </div>
                {% elif "Success" in alert %}
                    <div class="alert alert-success">
                      {{ alert }}
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                      {{ alert }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

      <h2>Marketplace</h2>
      <p>Here you can find a database of channels</p>

        {% if channels.count() == 0 %}
            <h3>The database of channels is currently empty! Add yours to be the first!</h3>
        {% else %}
            <table class="table table-responsive table-striped table-bordered" id="example" cellspacing="0">
            <thead>
              <tr>
                <th>Channel name <i class = "icon-profile"></i></th>
                <th>Subscribers <i class="icon-users"></i></th>
                <th>Price <i class="icon-coin-dollar"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for row in channels %}
                  <tr>
                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;"><a style = "color: #54C571;" href="/channel/{{ row.link[1:] }}">{{ row.name }}</a></td>
                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ row.subscribers }}</td>
                      <td style = "word-wrap: break-word;min-width: 160px;max-width: 160px; width: 1%;">{{ row.price }}</td>
                  </tr>
              {% endfor %}
            </tbody>
            </table>
        {%endif%}
    </div>
{% endblock %}

{% block scriptBlock %}
  <script>
      $(document).ready(function() {
        $('#example').DataTable();
      } );
  </script>
{% endblock %}
